.home-main {
    padding: 16px 32px;
}

.home-sub {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    color: #fff;
}

.align-center-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}