.main-bg {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1;}
}


.navbar-fixed-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    color: #fff;
}

.navbar-header-link {
    color: #fff;
    text-decoration: none;
}

.navbar-link {
    color: #fff;
    opacity: 0.7;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
}

.not-found {
    font-weight: bold;
    font-size: 6em;
    color: #000;
}

.back-home {
    font-size: 4em !important;
    color: navy;
    font-weight: 500;
}